---
import Mylayout from '../layouts/Mylayout.astro';
import Dropbox from '../components/Dropbox.astro';
import Navbar from '../components/Navbar.astro';
---
<Mylayout title="Grupo ABO" >
	<Navbar color='red' />
	<main class="bg-red-100 relative flex flex-col place-items-center place-content-center h-screen gap-4 p-4">
		<section>
			<div class="bg-red-300 border max-w-2xl min-w-min max-h-full min-h-min rounded-2xl p-4 grid grid-cols-2 grid-rows-3 gap-2 ">
				<Dropbox
					name='GrupoSanguineo',
					id='groups',
					desc='Seleccione grupo sanguineo:',
					options={['A','B','AB','O']},
					color='red-400'
				/>
				<Dropbox
					name='RH',
					id='rh',
					desc='Seleccione RH:',
					options={['Positivo', 'Negativo']},
					color='red-400'
				/>
				<button id="submit" class="bg-red-500 col-span-2 rounded-md font-bold">Submit</button>
			</div>
		</section>
		<section>
			<div class="bg-red-200 border max-w-2xl min-w-min max-h-full min-h-min rounded-2xl p-4 grid grid-cols-2 grid-rows-3 gap-2 ">
				<p>Te pueden donar los grupos: </p>
				<p> Le puedes donar a los grupos:</p>
				<div id="results1"></div>
				<div id="results2"></div>
			</div>
		</section>
	</main>
	<script src="../scripts/abo.js"></script>
</Mylayout>
