---
import Mylayout from "../layouts/Mylayout.astro";
import Navbar from "../components/Navbar.astro";
import Wip from '../components/Wip.astro'
---
<Mylayout title="Ayuda">
	<Navbar color="blue" value="200" />
	<main>
		<p><a href="/microutilidades/help/calculo-hdl">Click Aqui</a></p>
		<Wip />
	</main>
</Mylayout>
