---
import Mylayout from "../layouts/Mylayout.astro";
import Navbar from "../components/Navbar.astro";
import Wip from '../components/Wip.astro'
---
<Mylayout title="Ayuda">
	<Navbar color="blue" />
	<main>
		<Wip />
	</main>
</Mylayout>
