---
import Mylayout from '../layouts/Mylayout.astro';
import Navbar from '../components/Navbar.astro';
---
<Mylayout title="Grupo ABO" color="gray" >
	<Navbar color='blue' value='200'/>
	<main class="bg-gray-100 flex flex-col place-items-center w-screen gap-4 p-4">
		<h1 class="font-bold text-4xl p-4">Micro 🔬 Utilidades</h1>
		<article>
			<p>Bienvenido a la pagina de utilidades utilizadas en la bacteriologia y areas afines. <br>
				En caso de sugerencias dirigete a la seccion de <a href="/microutilidades/ayuda" class="underline text-blue-500">ayuda</a></p>
		</article>
		<hr>
		<section class="flex flex-col">
			<h2 class="font-bold text-xl">Index</h2>
			<ul class="underline text-blue-500">
				<li><a href="/microutilidades/depuracion">Depuracion de creatinina</a></li>
				<li><a href="/microutilidades/inr">Calculadora de INR</a></li>
				<li><a href="/microutilidades/colesterol">Colesterol</a></li>
			</ul>
		</section>
	</main>
</Mylayout>
