---
import Mylayout from "../layouts/Mylayout.astro";
import Navbar from "../components/Navbar.astro";
import Wip from '../components/Wip.astro'
---
<Mylayout title="Utilidades">
	<Navbar color="bg-red-200" />
	<main>
		<Wip />
	</main>
</Mylayout>
